# ==============================================================================
#                           Let Git no to track some files 
# ==============================================================================

## ---- SaTScan input data -----------------------------------------------------
data/satscan/